# Xcode
.build/
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.swiftpm/
Packages/

# macOS
.DS_Store
*.swp
*~

# Blender temp files
*.blend1
